#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.contact{
  border: 1px dotted grey;
  background-color: beige;
  border-radius: 4px;
}

.read-the-docs {
  color: rgb(126, 45, 95);
}
